* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    margin-top: var(--site-navigation-header-height);
    width: 100vw;
    height: 100vh;
}

.keyboardContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 600px;
    z-index: -100;
    margin-top: var(--site-navigation-header-height);
}

section.siteIntro {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    
    .introContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        max-width: 750px;
        font-size: 2.5rem;

        .nameContainer {

            width: 100%;
            margin-bottom: 25px;

            p {
                font-family: Radian Light, sans-serif;
                font-size: 1em;
                text-align: right;
                text-transform: uppercase;
            }

            h1 {
                font-family: Radian Bold, sans-serif;
                font-size: 3.4em;
                text-transform: uppercase;
            }

            h1[name-align="right"] {
                text-align: right;
                margin-top: -0.25em;
            }
        }

        p.introMessage {
            font-family: Radian Extra Light, sans-serif;
            font-size: 0.8em;
            line-height: 1.15em;
            text-align: center;
        }

        div.workContactContainer {

            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 45px;

            button {
                font-size: 0.75em;
                width: 47.5%;
                border: 1px solid #000;
                border-radius: 50px;
                padding: 20px 0;
                text-transform: uppercase;
            }

            button.contact {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

section.introExperienceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 660px;
    margin-top: 200px;

    .introExperienceInner {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px 50px;
        width: 90%;
        min-height: 660px;

        article.introExperienceCard {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-basis: 47.5%;
            min-width: 580px;
            height: 100%;
            border-radius: 50px;
            border: 1px solid #000;

            h1.header {
                font-family: Radian Bold, sans-serif;
                font-size: 3rem;
                text-transform: uppercase;
                transform: translateY(-50%);
                background-color: #fff;
                padding: 0 50px;
            }

            .cardContent {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 100%;
            }
        }

        article.aboutMeCard {

            .cardContent {

                h1.innerHeader {
                    font-family: Radian Bold, sans-serif;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }

                .talleyInfoContainer {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0px 30px;
                    margin-bottom: 40px;

                    img {
                        width: 275px;
                    }

                    .talleyInfo {

                        h1 {
                            font-family: Radian Bold, sans-serif;
                            font-size: 2rem;
                            margin-bottom: 7.5px;
                        }

                        p {
                            font-size: 1.15rem;
                            margin-bottom: 1.5px;
                        }

                        p.major {
                            font-size: 1.25rem;
                            margin-bottom: 2.5px;
                        }
                    }
                }

                h1.taglineHeader {
                    font-family: Radian Bold, sans-serif;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                .taglineContainer {
                    
                    p.tagline {
                        font-size: 1.15rem;
                    }

                    p.tagline:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        article.experienceContainer {

            .cardContent {

                .experienceCardContainer {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0 50px;
                    margin-bottom: 60px;
                
                    .cardInner {
                        width: 100%;
                    }
                }
            }

            .skillsContainer {

                width: 100%;

                h1.skillsHeader {
                    font-family: Radian Bold, sans-serif;
                    font-size: 2rem;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

section.outlinedSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;

    .outlinedSectionInner {
        width: 90%;

        h1.header {
            font-family: Radian Bold, sans-serif;
            font-size: 3.5rem;
            text-transform: uppercase;
            padding: 15px 0;
            background-color: #fff;
        }

        hr {
            width: 100%;
            margin: 10px 0 30px;
            opacity: 0.5;
        }
    }
}

section.skillsSection {

    .skillsInner {

        .selectorContainer {
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            button {
                display: block;
                font-size: 1.1rem;
                padding: 10px 40px;
                margin-right: 5px;
                background-color: transparent;
                color: #000;
                border: 1px solid #000;
                border-radius: 30px;
                transition: background 200ms ease-in-out, color 200ms ease-in-out;
            }

            button.currentSelection {
                background-color: #000;
                color: #fff;
            }
        }

        .skillsContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 75px;
            min-height: 500px;
        }
    }
}

section.portfolioSection {

    margin-top: 125px;

    .portfolioSectionInner {

        .portfolioContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
            margin-top: 75px;
        }
    }
}

section.contactSection {

    .contactInner {

        .contactContainer {
            display: grid;
            grid-template-columns: 425px 1fr;
            gap: 100px;
            margin-top: 60px;

            form.contactForm {
                width: 100%;
                height: 100%;

                input, textarea {
                    opacity: 0.1;
                }

                input:focus,
                input:not(.emptyField),
                textarea:focus,
                textarea:not(.emptyField) {
                    opacity: 1.0;
                }

                section.fieldContainer {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: Radian Bold, sans-serif;
                        font-size: 1.35rem;
                        margin-bottom: 15px;
                    }

                    input {
                        font-family: Radian, sans-serif;
                        font-size: 1.1rem;
                        border-radius: 5px;
                        border: 1px solid #000;
                        padding: 15px;
                        // transition: opacity 200ms ease-in;
                    }
                }

                .nameEmailContainer {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 30px;
                    margin-bottom: 50px;
                }

                section.subjectContainer {
                    margin-bottom: 50px;
                }

                section.messageContainer {
                    margin-bottom: 35px;
                    
                    textarea {
                        font-family: Radian, sans-serif;
                        font-size: 1.1rem;
                        height: 200px;
                        padding: 15px;
                        border-radius: 10px;
                        border: 1px solid #000;
                        resize: none;
                        // transition: opacity 200ms ease-in;
                    }
                }

                .clearSubmitContainer {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 60px;

                    button {
                        font-size: 1.1rem;
                        padding: 0 50px;
                        border: 1px solid #000;
                        height: 100%;
                        text-transform: uppercase;
                        letter-spacing: 0.25rem;
                        border-radius: 10px;
                    }

                    button.sendButton {
                        background-color: #000;
                        color: #fff;
                    }

                    button:not(:last-child) {
                        margin-right: 30px;
                    }
                }
            }

            form.contactForm.preventSend button.sendButton,
            form.contactForm.preventClear button.clearButton {
                pointer-events: none;
                opacity: 0.1;
            }
        }
    }
}

@font-face {
    font-family: Radian Light;
    src: url("../assets/fonts/Radian_Light.ttf");
}

@font-face {
    font-family: Radian Bold;
    src: url("../assets/fonts/Radian_Bold.ttf");
}

@font-face {
    font-family: Radian Extra Light;
    src: url("../assets/fonts/Radian_ExtraLight.ttf");
}