div.keyboardInnerContainer {
    width: 75%;
    min-width: 900px;

    svg.keyboardGraphic {
        width: 100%;
        opacity: 0.1;

        g g path:not(.keyboardPanel).litKey {
            fill: #f00;
        }
    }
}