header.siteHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--site-navigation-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px, rgba(0, 0, 0, 0.15) 0px 1px 3px -1px;
    z-index: 999999;

    div {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 150px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                a, span {
                    transition: opacity 100ms ease-in;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }

                span {
                    cursor: pointer;
                }
            }
        }

        ul:hover {
            li {
                a:not(:hover), span:not(:hover) {
                    opacity: 0.25;
                }
            }
        }

        nav {
            width: 700px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button, a {
                font-size: 1.125rem;
                letter-spacing: 0.125rem;
                text-transform: uppercase;
            }

            button.contact {
                background-color: #000;
                border-radius: 50px;
                color: #fff;
                padding: 12.5px 35px;
            }
        }

        button.responsiveMenuToggle {
            display: none;
            width: 75px;
            height: 50px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            justify-content: center;
            align-items: center;

            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media screen and (max-width: 1151px) {
    header.siteHeader div {

        nav {
            display: none;
        }
        
        button.responsiveMenuToggle {
            display: flex;
        }
    }
}