header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--site-navigation-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px, rgba(0, 0, 0, 0.15) 0px 1px 3px -1px;

    div {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                a, span {
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        nav {
            width: 700px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                font-size: 1.125rem;
                letter-spacing: 0.125rem;
                text-transform: uppercase;
            }

            button.contact {
                background-color: #000;
                border-radius: 50px;
                color: #fff;
                padding: 12.5px 35px;
            }
        }
    }
}